language: node_js
sudo: false
node_js:
  - 6.4
# NodeJS v4 requires gcc 4.8
env:
  - NODE_ENV=travis CXX="g++-4.8" CC="gcc-4.8"

#matrix:
  #allow_failures:
    #- node_js: 5

#services:
  #- mongodb
# gcc 4.8 requires ubuntu-toolchain-r-test

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - gcc-4.8
    - clang

notifications:
  webhooks:
    urls:
      secure: "poqVyB2wTisUygYPPC9/uvk69j90zKpja8sJVuLgh73CPuaNOp0rI+Myk7yFpIE7TEutpWaFDVZOtW2vfB/HagUlxrhy86UtbW3DH6WK7Yc3tY3BSnmwiyiVy5Pg8giEx9AxtoylnoHnEW7jAXPalhrSlzlqabU/Ztu8H2E/qdmlBi7IGaHHnp2la/3HCwIFQfDjBepHBWExxUisnRaXqRoNMieMiCpWcz93qNbrKQpA87EIU8p5NBEz17deDwpKN59/zx1xXaB90z1MwAC5T3f0OXVTkTgBqlRUwrJrGm4AK6qMyF+hyBc83KmcwrVF3xWrnurSHrqFTBpwtAvCxQmDzA/Wx35fZe9veNTtTs5y3u0d8fipDp5/rKivb0nYB1XHmBzkRqmCzzW6536UnLfRplCoYuELyYooECZcPyXnbukC4ZwL+JRwyEEVH0TM8UfSiaRI1WUQlawwgshz/kE6/aWr3CJelkGXo+CZIkBZvOtfC9A8Lai0UfxV4k/RVJPnO//BGNdOuGUp6hLDWekqC/1CIwodC//XS+bcDT1F1JsZVYcnz8NujSU/Gz6jArwqd5qSp6zbwLJEGH4pR5deHAbMbvADW9fOOQg4ioMiItBMY87pd53rDk0fnWAC180eQh2UKibfMCqPdEb6RGn/g0Zbkbh8dDWBw0i7LEM="
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always


before_install:
  - npm i nsp -g
  - npm install gulpjs/gulp-cli -g

after_script:
  - nsp audit-package
  - npm run coverage
